<h1>Profiles#edit</h1>
<p>Find me in app/views/profiles/edit.html.erb</p>

    <div class='form-group mb-3'> 
        <%=f.label :picture, class: "form-label"%>
        <%=f.file_field :picture, accept: "image/png,image/jpg,image/jpeg", class: "form-select"%>
    </div>