<h1 class="hero-title text-center mb-5">My Profile</h1>

    <div class='content col-12 col-md-7 col-lg-8 p-0 pr-md-3'>
        <div class='col-12 p-0 main-preview mb-4'>
            <%if @listing.picture.attached?%>
                <%=image_tag @listing.picture, alt: @listing.name, class:"thumbnail card-img top"%>
            <%else%>
                <%=image_tag "default_no_image.png", alt: "default", class:"thumbnail card-img top"%>
            <%end%>
        </div>
    </div>>


<div class="container">
    <h3>View your purchase history here!</h3>
    <div class="container">
        <%= link_to 'purchases', purchases_path, method: "get", class: "btn btn-outline-primary btn-sm" %>
    </div>