<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<div>
    <%@list_purchases.each do |purchase|%>
        <div>
            <%=order.listing.name%>
            <%=format_price(order.listing.price)%>
        </div>
    <%end%>
</div>