<p> Thanks for purchasing <%=@order.listing.name%> </p>
<div>
    <%= link_to "View receipt", @order.receipt_url, method: "get", class: "btn btn-outline-primary btn-sm" %>
</div>

<div class="nav-item">
    <%= link_to "Back to listings", listings_path, method: "get", class: "btn btn-outline-primary btn-sm" %>
</div>